
<link href="../../../../../assets/css/bootstrap.min.css" >
<header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="index.html">Monstarbill.com : :</a></h1>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>      
              <li><a href="#contact">Contact</a></li>

            </ul>
          </nav>

          <a href="javascript: void(0);" routerLink="/login" class="get-started-btn scrollto">Get Started</a>
        </div>
      </div>

    </div>
</header>
<section id="hero" class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Bettter Digital Experience With Monstarbill</h1>
                <h2>This System developed by Monstarlab</h2>
                <div><a href="javascript: void(0);" routerLink="/login" class="btn-get-started scrollto">Get Started</a></div>
            </div>
            <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" >
                <img src="../../../../../assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>
