
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="index.html">Monstarbill.com : :</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <!-- <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="#about">About</a></li>              
              <li><a href="#contact">Contact</a></li>

            </ul>
          </nav> -->
          <!-- .nav-menu -->

          <!-- <a href="#about" class="get-started-btn scrollto">Get Started</a> -->
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            
            <div class="main-agileinfo">
                <div class="agileits-top"> 
                    <form action="#" method="post">
                        <p class="otpState">OTP has been sent to your registered Email Address </p>
                        <input class="text" type="text" name="Username" placeholder="Username">
                        <input class="text" type="password" name="password" placeholder="Enter OTP *" required="">
                        <div class="wthree-text"> 
                            <ul> 
                                <li class="remcl">
                                    <label class="anim" style="display: block ruby;">
                                        <input type="checkbox" class="checkbox" required="">
                                        <span> Remember me for 30 days</span> 
                                    </label> 
                                </li>
                                <li class="forgCl"><a href="#">Resend OTP</a> </li>
                            </ul>
                            <div class="clear"> </div>
                        </div>  
                        <input type="submit" class="btn-get-started scrollto" value="Get Started" routerLink="/dashboard">
                    </form>
                    
                </div>	 
            </div>


        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="../../../../../assets/img/hero-img 2.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    
    



  </section>
